<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.mbti.dao.MbtiDAO">
<select id="mbtiIdx" resultType="int">
	SELECT MIN(mbtiq_idx) FROM mbti_q
</select>



</mapper>