<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.schedule.dao.ScheduleDAO">
    <select id="getEvents" resultType="Map">
        SELECT DISTINCT date FROM schedule s
    </select>

    <select id="getJournal" resultType="Map">
        SELECT journal_cate, journal_content, date,time(journal_start) , time(journal_end) FROM schedule where user_id = #{id} AND date = #{date};
    </select>
</mapper>