<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.schedule.dao.ScheduleDAO">
    <select id="getEvents" resultType="Map">
        SELECT DISTINCT date FROM schedule s where user_id = #{id}
    </select>

    <select id="getJournal" resultType="Map">
        SELECT user_id,journal_idx, journal_cate, journal_content, date,time(journal_start) ,time(journal_end) FROM schedule where user_id = #{id} AND date = #{date} ORDER BY time(journal_start) ASC;
    </select>
    
    
    <insert id="schedule_write"
            useGeneratedKeys="true"
            keyColumn="journal_idx"
            keyProperty="journal_idx"
            parameterType="com.fitmate.schedule.dto.ScheduleDTO">
        INSERT into schedule (user_id,journal_cate,journal_content, date,journal_start, journal_end)
        values(#{user_id},#{journal_cate},#{journal_content},#{date},#{journal_start},#{journal_end});
    </insert>

    <insert id="filewrite">
        INSERT INTO board_file (category_idx,ori_filename,new_filename,board_idx)
        VALUES ('1',#{ori_filename}, #{new_filename}, #{idx})
    </insert>

    <select id="getCrewEvents" resultType="Map">
        SELECT DISTINCT cp.plan_date FROM crew_plan cp inner join crew c on cp.crew_idx = c.crew_idx WHERE cp.plan_idx in (SELECT plan_idx FROM member inner join crew_party on user_id = party_id WHERE user_id = #{id});
    </select>
    
    <select id="crewplan_get" resultType="Map">
        SELECT DISTINCT cp.crew_idx, cp.plan_date,cp.plan_start,cp.plan_end,cp.plan_subject,cp.plan_place,c.name
        FROM crew_plan cp inner join crew c on cp.crew_idx = c.crew_idx WHERE cp.plan_idx in (SELECT plan_idx FROM member inner join crew_party on user_id = party_id WHERE user_id =  #{id}) AND cp.plan_date = #{date};
    </select>

    <select id="getfile" resultType="Map">
        SELECT * from board_file b inner join schedule s2 on b.board_idx = s2.journal_idx where date = #{date} AND user_id = #{id} AND category_idx = 1;
    </select>

    <select id="getcurrentfile" resultType="com.fitmate.schedule.dto.ScheduleFileDTO">
        SELECT * FROM board_file where board_idx =#{idx} AND category_idx = '1';
    </select>

    <delete id="deleteContent">
        DELETE FROM schedule where journal_idx =#{idx};
    /*DELETE FROM board_file board_file where board_idx =#{idx} AND category_idx = '1';*/
    </delete>
    
    <select id="check_file" resultType="int">
        SELECT count(*) FROM board_file where board_idx = #{idx} AND category_idx = '1';
    </select>

    <select id="getJournal_detail" resultType="map">
        SELECT * FROM schedule s where journal_idx = #{idx};
    </select>

    <select id="currentfile" resultType="map">
        SELECT * FROM board_file where board_idx =#{idx} AND category_idx = '1';
    </select>
    
    <delete id="delete_img">
        DELETE FROM board_file WHERE file_idx = #{fileIdx}
    </delete>


    <select id="crew_plan_detail" resultType="com.fitmate.schedule.dto.ScheduleDTO">
        SELECT DISTINCT cp.plan_idx,cp.crew_idx, cp.plan_date,cp.plan_start,cp.plan_end,cp.plan_subject,cp.plan_content,cp.plan_place,c.name
        FROM crew_plan cp inner join crew c on cp.crew_idx = c.crew_idx WHERE cp.plan_idx in (SELECT plan_idx FROM member inner join crew_party on user_id = party_id WHERE user_id =  #{id}) AND cp.plan_date = #{date} AND cp.crew_idx = #{crewIdx};
    </select>

    <select id="crew_plan_members" resultType="com.fitmate.crew.dto.CrewScheduleMDTO">
        SELECT
            cp.party_id,
            cp.plan_idx,
            cp.party_idx,
            p.profile
        FROM
            crew_party cp
                JOIN
            profile p ON cp.party_id = p.user_id
        WHERE
            cp.plan_idx = #{param1};
    </select>

    <update id="update_content" parameterType="map">
        UPDATE schedule
        <set>
            <if test="cate != null">journal_cate = #{cate},</if>
            <if test="textarea != null">journal_content = #{textarea},</if>
            <if test="date != null">date = #{date},</if>
            <if test="start_time != null">journal_start = #{start_time},</if>
            <if test="end_time != null">journal_end = #{end_time}</if>
        </set>
        WHERE journal_idx = #{journal_idx}
    </update>
    
    <insert id="fileInsert">
        INSERT INTO
    </insert>

</mapper>