<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.admin.dao.MainDAO">

    <!-- layout -->
    <select id="getname" resultType="String">
        SELECT admin_name FROM admin WHERE admin_idx = #{param}
    </select>

    <!-- 로그인 -->
    <select id="login" resultType="int">
        SELECT COUNT(admin_id) FROM admin WHERE admin_id = #{param1} AND admin_pw = #{param2}
    </select>

    <select id="checkid" resultType="int">
        SELECT COUNT(admin_id) FROM admin WHERE admin_id = #{param1}
    </select>

    <select id="getidx" resultType="int">
        SELECT admin_idx FROM admin WHERE admin_id = #{param1}
    </select>
    
    <!-- 대시보드 > 공지사항 목록 -->
    <select id="dashboardList1" resultType="com.fitmate.admin.dto.DashboardDTO">
        SELECT notice_cont, notice_regdate, notice_show FROM notice ORDER BY notice_idx DESC LIMIT 10 OFFSET 0
    </select>

    <!-- 대시보드 > 신고 목록 -->
    <select id="dashboardList2" resultType="com.fitmate.admin.dto.DashboardDTO">
        SELECT r.report_idx, r.report_date, r.report_prog,
            (SELECT reportr_con FROM report_reason WHERE reportr_idx = r.reportr_idx) AS 'reportr_con',
            (SELECT subject FROM crew_board WHERE board_idx = r.board_idx) AS 'subject',
            (SELECT report_state FROM report_progress WHERE report_prog = r.report_prog) AS 'report_state'
            FROM report r ORDER BY r.report_idx DESC LIMIT 10 OFFSET 0
    </select>

    <!-- 대시보드 > 증감 데이터 목록 -->
    <select id="dashboardList3_1" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE regdate >= CURDATE()
    </select>

    <select id="dashboardList3_2" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE regdate >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <select id="dashboardList3_3" resultType="int">
        SELECT COUNT(crew_idx) FROM crew WHERE create_date >= CURDATE()
    </select>

    <select id="dashboardList3_4" resultType="int">
        SELECT COUNT(crew_idx) FROM crew WHERE create_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <select id="dashboardList3_5" resultType="int">
        SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 2 AND crew_board.date >= CURDATE()
    </select>

    <select id="dashboardList3_6" resultType="int">
        SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 2 AND crew_board.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <select id="dashboardList3_7" resultType="int">
        SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 3 AND crew_board.date >= CURDATE()
    </select>

    <select id="dashboardList3_8" resultType="int">
        SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 3 AND crew_board.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <select id="dashboardList3_9" resultType="int">
        SELECT COUNT(report_idx) FROM report WHERE report_date >= CURDATE()
    </select>

    <select id="dashboardList3_10" resultType="int">
        SELECT COUNT(report_idx) FROM report WHERE report_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <!-- 대시보드 > 차트 -->
    <select id="getDataMember" parameterType="int" resultType="int">
        SELECT COUNT(user_id) FROM member
        <where>
            <if test="param == 4">
                regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
            </if>
            <if test="param == 3">
                regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
            </if>
            <if test="param == 2">
                regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
            </if>
            <if test="param == 1">
                regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
            </if>
        </where>
    </select>

    <select id="getDataBoard" parameterType="int" resultType="int">
        SELECT COUNT(board_idx) FROM crew_board
            <where>
                <if test="param == 4">
                    date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
                </if>
                <if test="param == 3">
                    date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
                </if>
                <if test="param == 2">
                    date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
                </if>
                <if test="param == 1">
                    date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
                </if>
            </where>
    </select>

    <select id="getDataCrew" parameterType="int" resultType="int">
        SELECT COUNT(crew_idx) FROM crew
        <where>
            <if test="param == 4">
                create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
            </if>
            <if test="param == 3">
                create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
            </if>
            <if test="param == 2">
                create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
            </if>
            <if test="param == 1">
                create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
            </if>
        </where>
    </select>

    <select id="getDataReport" parameterType="int" resultType="int">
        SELECT COUNT(report_idx) FROM report
        <where>
            <if test="param == 4">
                report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
            </if>
            <if test="param == 3">
                report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
            </if>
            <if test="param == 2">
                report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
            </if>
            <if test="param == 1">
                report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
            </if>
        </where>
    </select>

</mapper>