<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.admin.dao.MainDAO">

    <!-- layout -->
    <select id="getname" resultType="String">
        SELECT admin_name FROM admin WHERE admin_idx = #{param}
    </select>

    <!-- 로그인 -->
    <select id="login" resultType="int">
        SELECT COUNT(admin_id) FROM admin WHERE admin_id = #{param1} AND admin_pw = #{param2}
    </select>

    <select id="checkid" resultType="int">
        SELECT COUNT(admin_id) FROM admin WHERE admin_id = #{param1}
    </select>

    <select id="getidx" resultType="int">
        SELECT admin_idx FROM admin WHERE admin_id = #{param1}
    </select>
    
    <!-- 대시보드 > 공지사항 목록 -->
    <select id="dashboardList1" resultType="com.fitmate.admin.dto.DashboardDTO">
        SELECT notice_cont, notice_regdate, notice_show FROM notice ORDER BY notice_idx DESC LIMIT 10 OFFSET 0
    </select>

    <!-- 대시보드 > 신고 목록 -->
    <select id="dashboardList2" resultType="com.fitmate.admin.dto.DashboardDTO">
        SELECT r.report_idx, r.report_date, r.report_prog,
            (SELECT reportr_con FROM report_reason WHERE reportr_idx = r.reportr_idx) AS 'reportr_con',
            (SELECT subject FROM crew_board WHERE board_idx = r.board_idx) AS 'subject',
            (SELECT report_state FROM report_progress WHERE report_prog = r.report_prog) AS 'report_state'
            FROM report r ORDER BY r.report_idx DESC LIMIT 10 OFFSET 0
    </select>

    <!-- 대시보드 > 차트 -->
    <select id="getChartData" parameterType="int" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
        UNION ALL SELECT COUNT(user_id) FROM member WHERE regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        UNION ALL SELECT COUNT(user_id) FROM member WHERE regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        UNION ALL SELECT COUNT(user_id) FROM member WHERE regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
        UNION ALL SELECT COUNT(user_id) FROM member WHERE regdate >= CURDATE()
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE date >= CURDATE()
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date >= CURDATE()
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 4 DAY) AND DATE_SUB(CURDATE(), INTERVAL 3 DAY)
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 DAY) AND DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY) AND CURDATE()
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date >= CURDATE()
    </select>

    <!-- 대시보드 > 증감 데이터 목록 -->
    <select id="getTableData" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE regdate >= CURDATE()
        UNION ALL SELECT COUNT(user_id) FROM member WHERE regdate >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date >= CURDATE()
        UNION ALL SELECT COUNT(crew_idx) FROM crew WHERE create_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 2 AND crew_board.date >= CURDATE()
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 2 AND crew_board.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 3 AND crew_board.date >= CURDATE()
        UNION ALL SELECT COUNT(board_idx) FROM crew_board WHERE category_idx = 3 AND crew_board.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date >= CURDATE()
        UNION ALL SELECT COUNT(report_idx) FROM report WHERE report_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

</mapper>