<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.admin.dao.NoticeDAO">

    <!-- 공지사항 작성 -->
    <insert id="write" parameterType="com.fitmate.admin.dto.NoticeDTO" useGeneratedKeys="true" keyColumn="notice_idx" keyProperty="notice_idx">
        INSERT INTO notice (notice_cont, admin_idx) VALUES (#{notice_cont}, #{admin_idx});
    </insert>

    <insert id="insertAlert">
        INSERT INTO noti (notis_idx, notis_cate, noti_content, notis_date)
            VALUES (#{param}, 2,
                    (SELECT notice_cont FROM notice WHERE notice_idx = #{param}),
                    (SELECT notice_regdate FROM notice WHERE notice_idx = #{param}));
    </insert>

    <!-- 공지사항 목록 -->
    <select id="allCount" resultType="int">
        SELECT CEIL(COUNT(notice_idx) / #{cnt}) FROM notice
        <where>
            <if test="keyword != null and !keyword.equals('') and opt.equals('notice_cont')">
                notice_cont LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and !keyword.equals('') and opt.equals('admin_name')">
                (SELECT admin_name FROM admin a WHERE a.admin_idx = admin_idx) LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="sortType.equals('noticed')">
                notice_show = 1
            </if>
            <if test="sortType.equals('blind')">
                notice_show = 0
            </if>
        </where>
    </select>

    <select id="countIdx" resultType="int">
        SELECT COUNT(notice_idx) FROM notice
        <where>
            <if test="keyword != null and !keyword.equals('') and opt.equals('notice_cont')">
                notice_cont LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and !keyword.equals('') and opt.equals('admin_name')">
                (SELECT admin_name FROM admin a WHERE a.admin_idx = admin_idx) LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="sortType.equals('noticed')">
                notice_show = 1
            </if>
            <if test="sortType.equals('blind')">
                notice_show = 0
            </if>
        </where>
    </select>

    <select id="list" resultType="com.fitmate.admin.dto.NoticeDTO">
        SELECT notice_idx, notice_cont, notice_regdate, notice_show,
            (SELECT admin_name FROM admin a WHERE a.admin_idx = admin_idx) AS 'admin_name'
            FROM notice
            <where>
                <if test="param4 != null and !param4.equals('') and param3.equals('notice_cont')">
                    notice_cont LIKE CONCAT('%', #{param4}, '%')
                </if>
                <if test="param4 != null and !param4.equals('') and param3.equals('admin_name')">
                    (SELECT admin_name FROM admin a WHERE a.admin_idx = admin_idx) LIKE CONCAT('%', #{param4}, '%')
                </if>
                <if test="param5.equals('noticed')">
                    notice_show = 1
                </if>
                <if test="param5.equals('blind')">
                    notice_show = 0
                </if>
            </where>
            ORDER BY notice_idx DESC LIMIT #{param1} OFFSET #{param2}
    </select>

    <!-- 공지사항 삭제 -->
    <update id="invisible">
        UPDATE notice SET notice_show = 0 WHERE notice_idx = #{param}
    </update>

</mapper>