<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.admin.dao.RegDataDAO">

    <!-- 헬스 MBTI 질문 관리 -->
    <select id="regMbtiQuestion" resultType="com.fitmate.admin.dto.RegMBTIDTO">
        SELECT mbtiq_idx, mbtiq_con FROM mbti_q WHERE mbtiq_show = 1
    </select>

    <insert id="insertMbtiQuestion" parameterType="com.fitmate.admin.dto.RegMBTIDTO"
            useGeneratedKeys="true" keyColumn="mbtiq_idx" keyProperty="mbtiq_idx">
        INSERT INTO mbti_q (mbtiq_con, admin_idx) VALUES (#{mbtiq_con}, #{admin_idx})
    </insert>

    <select id="regMbtisub" resultType="com.fitmate.admin.dto.RegMBTIDTO">
        SELECT mbtisub_idx, mbtisub_con FROM mbti_q_sub WHERE mbtiq_idx = #{mbtiq_idx} AND mbtisub_show = 1
    </select>

    <select id="getMbtiQScore" resultType="com.fitmate.admin.dto.RegMBTIDTO">
        SELECT scr.mbtiscr_idx, scr.mbtisub_idx, scr.mbtir_idx, scr.mbtiscr_scr
            FROM mbti_q_subscr scr JOIN mbti_r r ON scr.mbtir_idx = r.mbtir_idx WHERE scr.mbtisub_idx = #{mbtisub_idx} and r.mbtir_show = 1
    </select>

    <insert id="regMbtiQuestionSubInsertRow" parameterType="com.fitmate.admin.dto.RegMBTIDTO"
            useGeneratedKeys="true" keyColumn="mbtisub_idx" keyProperty="mbtisub_idx">
        INSERT INTO mbti_q_sub (mbtiq_idx, mbtisub_con, admin_idx) VALUES (#{mbtiq_idx}, #{mbtisub_con}, #{admin_idx});
    </insert>

    <insert id="regMbtiQuestionSubInsertScr" parameterType="com.fitmate.admin.dto.RegMBTIDTO">
        INSERT INTO mbti_q_subscr (mbtisub_idx, mbtir_idx, admin_idx) VALUES (#{mbtisub_idx}, #{mbtir_idx}, #{admin_idx});
    </insert>

    <update id="admin_regMbtiq_sub_updateQuestion" parameterType="map">
        UPDATE mbti_q_sub SET mbtisub_con = #{mbtisub_con}, admin_idx = #{admin_idx} WHERE mbtisub_idx = #{mbtisub_idx}
    </update>

    <update id="admin_regMbtiq_sub_updateScore" parameterType="map">
        UPDATE mbti_q_subscr SET mbtiscr_scr = #{mbtiscr_scr}, admin_idx = #{admin_idx} WHERE mbtiscr_idx = #{mbtiscr_idx}
    </update>

    <update id="admin_regMbtiq_sub_deleteRow" parameterType="map">
        UPDATE mbti_q_sub SET mbtisub_show = 0, admin_idx = #{admin_idx} WHERE mbtisub_idx = #{mbtisub_idx}
    </update>

    <update id="admin_regMbtiq_sub_deleteQuestion" parameterType="map">
        UPDATE mbti_q SET mbtiq_show = 0, admin_idx = #{admin_idx} WHERE mbtiq_idx = #{mbtiq_idx}
    </update>

    <!-- 헬스 MBTI 결과 관리 -->
    <select id="regMbtiResult" resultType="com.fitmate.admin.dto.RegMBTIDTO">
        SELECT mbtir_idx, mbtir_name FROM mbti_r WHERE mbtir_show = 1
    </select>

    <select id="regMbtiResultDetail" resultType="com.fitmate.admin.dto.RegMBTIDTO">
        SELECT mbtir_idx, mbtir_name, mbtir_img, mbtir_con, mbtir_exc, mbtir_rou FROM mbti_r WHERE mbtir_idx = #{param}
    </select>

    <insert id="insertMbtiResult" parameterType="com.fitmate.admin.dto.RegMBTIDTO"
        useGeneratedKeys="true" keyColumn="mbtir_idx" keyProperty="mbtir_idx">
        INSERT INTO mbti_r (mbtir_name, mbtir_con, mbtir_exc, mbtir_rou) VALUES (#{mbtir_name}, #{mbtir_con}, #{mbtir_exc}, #{mbtir_rou})
    </insert>

    <update id="updateMbtiResult" parameterType="map">
        UPDATE mbti_r
            SET mbtir_name = #{mbtir_name}, mbtir_con = #{mbtir_con}, mbtir_exc = #{mbtir_exc}, mbtir_rou = #{mbtir_rou}, admin_idx = #{admin_idx}
            WHERE mbtir_idx = #{mbtir_idx}
    </update>

    <update id="insertImg">
        UPDATE mbti_r SET mbtir_img = #{param2} WHERE mbtir_idx = #{param1}
    </update>

    <update id="deleteImg">
        UPDATE mbti_r SET mbtir_img = '' WHERE mbtir_idx = #{param}
    </update>

    <update id="deleteMbtiResult" parameterType="map">
        UPDATE mbti_r SET mbtir_show = 0, admin_idx = #{admin_idx} WHERE mbtir_idx = #{mbtir_idx}
    </update>

    <!-- 지역 정보 관리 -->
    <select id="regRegion" resultType="com.fitmate.admin.dto.RegCountyDTO">
        SELECT region_idx, region_name FROM region WHERE region_show = 1
    </select>

    <update id="updateRegion" parameterType="map">
        UPDATE region SET region_name = #{region_name}, admin_idx = #{admin_idx} WHERE region_idx = #{region_idx}
    </update>

    <update id="deleteRegion" parameterType="map">
        UPDATE region SET region_show = 0, admin_idx = #{admin_idx} WHERE region_idx = #{region_idx}
    </update>

    <insert id="insertRegion" parameterType="map">
        INSERT INTO region (region_name, admin_idx) VALUES (#{region_name}, #{admin_idx})
    </insert>

    <select id="regRegionSub" resultType="com.fitmate.admin.dto.RegCountyDTO">
        SELECT regions_idx, regions_name FROM region_sub WHERE region_idx = #{param} AND regions_show = 1
    </select>

    <update id="updateRegionSub" parameterType="map">
        UPDATE region_sub SET regions_name = #{regions_name}, admin_idx = #{admin_idx} WHERE regions_idx = #{regions_idx}
    </update>

    <update id="deleteRegionSub" parameterType="map">
        UPDATE region_sub SET regions_show = 0, admin_idx = #{admin_idx} WHERE regions_idx = #{regions_idx}
    </update>

    <insert id="insertRegionSub" parameterType="map">
        INSERT INTO region_sub (region_idx, regions_name, admin_idx) VALUES (#{region_idx}, #{regions_name}, #{admin_idx})
    </insert>

    <select id="regRegionSubTrash" resultType="com.fitmate.admin.dto.RegCountyDTO">
        SELECT region_idx, regions_idx, regions_name FROM region_sub WHERE region_idx = #{param} AND regions_show = 0
    </select>

    <update id="restoreRegionSub" parameterType="map">
        UPDATE region_sub SET regions_show = 1, admin_idx = #{admin_idx} WHERE regions_idx = #{regions_idx}
    </update>

    <!-- 신고 사유 관리 -->
    <select id="regReport" resultType="com.fitmate.admin.dto.RegReportDTO">
        SELECT reportr_idx, reportr_con FROM report_reason WHERE reportr_show = 1
    </select>

    <update id="updateReport" parameterType="map">
        UPDATE report_reason SET reportr_con = #{reportr_con}, admin_idx = #{admin_idx} WHERE reportr_idx = #{reportr_idx}
    </update>

    <update id="deleteReport" parameterType="map">
        UPDATE report_reason SET reportr_show = 0, admin_idx = #{admin_idx} WHERE reportr_idx = #{reportr_idx}
    </update>

    <insert id="insertReport" parameterType="map">
        INSERT INTO report_reason (reportr_con, admin_idx) VALUES (#{reportr_con}, #{admin_idx})
    </insert>

    <select id="regReportTrash" resultType="com.fitmate.admin.dto.RegReportDTO">
        SELECT reportr_idx, reportr_con FROM report_reason WHERE reportr_show = 0
    </select>

    <update id="restoreReport" parameterType="map">
        UPDATE report_reason SET reportr_show = 1, admin_idx = #{admin_idx} WHERE reportr_idx = #{reportr_idx}
    </update>

</mapper>