<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.admin.dao.ReportDAO">

    <!-- 신고 목록 -->
    <select id="getlist" resultType="com.fitmate.admin.dto.ReportDTO">
        SELECT * FROM report;
    </select>

</mapper>