@charset "UTF-8";

h3.capt .required{
    color: #5bc5bb;
}

.confirm{
    margin-top: -8px;
}

.img_preview img{
    height: 80px;
}

.statics{
    margin: 20px 0 28px;
    font-size: 16px;
    font-weight: 700;
}