<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.crew.dao.CrewPageDAO">

<select id="report_list" resultType="com.fitmate.admin.dto.RegReportDTO">
	select * from report_reason
</select>

<insert id="crew_notice_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,content,category_idx)
		value(#{board_id},#{content},4); </insert>
<insert id="notice_write_crewidx" parameterType="com.fitmate.crew.dto.CrewIdxDTO">
	insert into crew_idx (crew_idx,board_idx) value (#{crew_idx},#{board_idx})
</insert>
<update id="crew_lastdate_update">
	update crew set last_date = now() where crew_idx = #{param1}
</update>		

<select id="crew_notice_list" parameterType="int" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	SELECT cb.*
	FROM crew_idx ci
	INNER JOIN crew_board cb ON ci.board_idx = cb.board_idx
	WHERE ci.crew_idx = #{crew_idx} AND cb.category_idx = 4
	GROUP BY cb.board_idx;
</select>		

<delete id="crew_notice_del">
	delete from crew_board where board_idx = #{param1} 
</delete>
<delete id="notice_del_crewidx">
	delete from crew_idx where board_idx = #{param1}
</delete>

<select id="crew_member_list">
	select * from crew_member where crew_idx = #{param1}
</select>

<select id="notice_noti_crewname" parameterType="com.fitmate.crew.dto.CrewDTO" resultType="String">
	select name from crew where crew_idx = #{crew_idx}
</select>

<insert id="crew_notice_noti">
	insert into noti (notir_id,notis_idx,noti_content,noti_url,notis_cate,notis_date)
	value (#{param1},#{param2},#{param3},#{param4},#{param5},now())
</insert>


<insert id="crew_oneboard_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,content,category_idx)
		value(#{board_id},#{content},2); </insert>

<select id="crew_oneboard_list" parameterType="int" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	SELECT cb.*
	FROM crew_idx ci
	INNER JOIN crew_board cb ON ci.board_idx = cb.board_idx
	WHERE ci.crew_idx = #{crew_idx} AND cb.category_idx = 2
	GROUP BY cb.board_idx;
</select>	

<update id="crew_oneboard_blind">
	UPDATE crew_board set status = 2 where board_idx = #{param1}
</update>
<update id="crew_oneboard_unblind">
	UPDATE crew_board set status = 1 where board_idx = #{param1}
</update>

<insert id="crew_photo_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,content,category_idx)
		value(#{board_id},#{content},3); </insert>
<insert id="photofile_write">
	insert into board_file (board_idx,ori_filename,new_filename,category_idx)
	value(#{param1},#{param2},#{param3},2)
</insert>

<select id="crew_photo" resultType="com.fitmate.crew.dto.CrewFileDTO" >
	select * from board_file where board_idx = #{param1}
</select>
<select id="crew_photo_detail" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	select * from crew_board where board_idx = #{param1}
</select>
<!-- 크루페이지에서 회원 프로필 정보와 회원 정보 가져오기 -->
<select id="crew_getprofile" parameterType="com.fitmate.member.dto.MemberDTO" resultType="com.fitmate.member.dto.MemberDTO">
	SELECT *
    FROM member m
    LEFT JOIN profile p ON m.user_id = p.user_id
    WHERE m.user_id = #{user_id}
</select>

<delete id="crew_photofile_del">
	delete from board_file where board_idx = #{param1}
</delete>

<select id="board_reported_id" resultType="String">
	select board_id from crew_board where board_idx = #{param1}
</select>

</mapper>