<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.crew.dao.CrewPageDAO">

<select id="report_list" resultType="com.fitmate.admin.dto.RegReportDTO">
	select * from report_reason where reportr_show = 1
</select>

<insert id="crew_notice_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,subject,category_idx)
		value(#{board_id},#{subject},4); </insert>
<insert id="notice_write_crewidx" parameterType="com.fitmate.crew.dto.CrewIdxDTO">
	insert into crew_idx (crew_idx,board_idx) value (#{crew_idx},#{board_idx})
</insert>
<update id="crew_lastdate_update">
	update crew set last_date = now() where crew_idx = #{param1}
</update>		

<select id="crew_notice_list" parameterType="int" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	SELECT cb.*
	FROM crew_idx ci
	INNER JOIN crew_board cb ON ci.board_idx = cb.board_idx
	WHERE ci.crew_idx = #{crew_idx} AND cb.category_idx = 4
	GROUP BY cb.board_idx;
</select>		

<!--  공지사항 삭제 -->
<delete id="crew_notice_del">
	delete from crew_board where board_idx = #{param1} 
</delete>

 
<update id="crew_board_del">
	update crew_board set status = 3 where board_idx = #{param1}
</update>

<delete id="notice_del_crewidx">
	delete from crew_idx where board_idx = #{param1}
</delete>

<select id="crew_member_list">
	select * from crew_member where crew_idx = #{param1}
</select>

<select id="notice_noti_crewname" parameterType="com.fitmate.crew.dto.CrewDTO" resultType="String">
	select name from crew where crew_idx = #{crew_idx}
</select>

<insert id="crew_notice_noti">
	insert into noti (notir_id,notis_idx,noti_content,noti_url,notis_cate,notis_date)
	value (#{param1},#{param2},#{param3},#{param4},#{param5},now())
</insert>


<insert id="crew_oneboard_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,subject,category_idx)
		value(#{board_id},#{subject},2); </insert>

<select id="crew_oneboard_list" parameterType="int" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	SELECT 
    m.nick AS nick,
    cb.subject AS subject,
    cb.date AS date,
    cb.board_idx AS board_idx,
    cb.board_id as board_id, 
    cb.status as status
	FROM 
	    crew_board cb
	JOIN 
	    crew_idx ci ON cb.board_idx = ci.board_idx
	JOIN 
    member m ON cb.board_id = m.user_id
	WHERE ci.crew_idx = #{crew_idx} AND cb.category_idx = 2  AND cb.status IN (1, 2)
	GROUP BY cb.board_idx
	ORDER BY 
    cb.date DESC
</select>	

<update id="crew_oneboard_blind">
	UPDATE crew_board set status = 2 where board_idx = #{param1}
</update>
<update id="crew_oneboard_unblind">
	UPDATE crew_board set status = 1 where board_idx = #{param1}
</update>

<insert id="crew_photo_write" useGeneratedKeys="true"
		keyColumn="board_idx" keyProperty="board_idx"
		parameterType="com.fitmate.crew.dto.CrewBoardDTO"> insert into crew_board (board_id,subject,category_idx)
		value(#{board_id},#{subject},3); </insert>
<insert id="photofile_write">
	insert into board_file (board_idx,ori_filename,new_filename,category_idx)
	value(#{param1},#{param2},#{param3},2)
</insert>

<select id="crew_photo" resultType="com.fitmate.crew.dto.CrewFileDTO" >
	select * from board_file where board_idx = #{param1} and category_idx = 2
</select>
<select id="crew_photo_detail" resultType="com.fitmate.crew.dto.CrewBoardDTO">
	select * from crew_board where board_idx = #{param1}
</select>
<!-- 크루페이지에서 회원 프로필 정보와 회원 정보 가져오기 -->
<select id="crew_getprofile" parameterType="com.fitmate.member.dto.MemberDTO" resultType="com.fitmate.member.dto.MemberDTO">
	SELECT *
    FROM member m
    LEFT JOIN profile p ON m.user_id = p.user_id
    WHERE m.user_id = #{user_id}
</select>

<delete id="crew_photofile_del">
	delete from board_file where board_idx = #{param1}
</delete>

<select id="board_reported_id" resultType="String">
	select board_id from crew_board where board_idx = #{param1}
</select>

<insert id="report_do">
	insert into report (reporter_id,reportr_idx,reported_id,board_idx,board_type,report_prog,report_date) 
	value (#{reporter_id},#{reportr_idx},#{reported_id},#{board_idx},#{board_type},1,now())
</insert>

<select id="crew_main_notice">
	SELECT cb.*
	FROM crew_idx ci
	INNER JOIN crew_board cb ON ci.board_idx = cb.board_idx
	WHERE ci.crew_idx = #{crew_idx} AND cb.category_idx = 4
	ORDER BY cb.date DESC
	LIMIT 1
</select>

<select id="crew_main_crewmember" resultType="com.fitmate.crew.dto.CrewMemberProfileDTO">
	SELECT 
    m.user_id, 
    m.profile 
FROM 
    crew_member cm
JOIN 
    profile m ON cm.member_id = m.user_id
WHERE 
    cm.crew_idx = #{param1};
</select>

<select id="crew_photo_list" resultType="com.fitmate.crew.dto.CrewBoardDTO">
SELECT 
    f.new_filename, 
    cb.board_idx 
FROM 
    crew_board cb 
JOIN 
    board_file f ON cb.board_idx = f.board_idx 
join crew_idx ci on cb.board_idx = ci.board_idx  
WHERE 
    cb.category_idx = 3 
    AND f.category_idx = 2 
    AND ci.crew_idx = #{param1}
    AND cb.status IN (1, 2)
    ORDER BY cb.board_idx DESC
    LIMIT #{param3} OFFSET #{param2}
</select>

<select id="crew_info" resultType="com.fitmate.crew.dto.CrewDTO">
Select * from crew where crew_idx = #{param1}
</select>

</mapper>