<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.member.dao.MemberDAO">

    <!-- 유저 로그인 -->
    <select id="login" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE user_id = #{user_id} AND pw = #{pw}
    </select>

    <select id="checkid" resultType="int">
        SELECT COUNT(user_id) FROM member WHERE user_id = #{user_id}
    </select>

    <!-- 유저 회원 가입 -->
    <select id="getRegion" resultType="com.fitmate.admin.dto.RegCountyDTO">
        SELECT region_idx, region_name FROM region WHERE region_show = 1;
    </select>

    <select id="checknick" resultType="int">
        SELECT COUNT(nick) FROM member WHERE nick = #{nick}
    </select>

    <select id="getRegion2" resultType="com.fitmate.admin.dto.RegCountyDTO">
        SELECT regions_idx, regions_name FROM region_sub WHERE region_idx = #{region_idx} AND regions_show = 1
    </select>

    <insert id="join" parameterType="map">
        INSERT INTO member(user_id, nick, pw, email, name, birthday)
            VALUES(#{user_id}, #{nick}, #{pw}, #{email}, #{name}, #{birthday})
    </insert>

    <insert id="insertProfile" parameterType="map">
        INSERT INTO profile(user_id, status, regions_idx)
            VALUES(#{user_id}, #{status}, #{region2})
    </insert>

    <update id="insertImg">
        UPDATE profile SET profile = #{profile} WHERE user_id = #{user_id}
    </update>

    <!-- leftnav 프로필 불러오기 -->
    <select id="getProfile" resultType="com.fitmate.member.dto.MemberDTO">
        SELECT m.nick, p.profile FROM member m JOIN profile p ON m.user_id = p.user_id WHERE m.user_id = #{param}
    </select>

    <!-- 내 프로필 보기 -->
    <select id="profile" resultType="com.fitmate.member.dto.MemberDTO">
        SELECT m.user_id, m.pw, m.nick, m.name, m.email, m.birthday, p.status, p.profile, p.regions_idx,
               (SELECT r.region_idx FROM region r JOIN region_sub rs ON r.region_idx = rs.region_idx WHERE rs.regions_idx = p.regions_idx) AS 'region_idx',
               (SELECT r.region_name FROM region r JOIN region_sub rs ON r.region_idx = rs.region_idx WHERE rs.regions_idx = p.regions_idx) AS 'region_name',
               (SELECT rs.regions_name FROM region_sub rs WHERE rs.regions_idx = p.regions_idx) AS 'regions_name',
               (SELECT mb.mbtir_name FROM mbti_r mb WHERE mb.mbtir_idx = p.mbtir_idx) AS 'mbtir_name'
        FROM member m JOIN profile p ON m.user_id = p.user_id WHERE m.user_id = #{param}
    </select>

    <!-- 정보 수정 -->
    <update id="update1" parameterType="map">
        UPDATE member SET nick = #{nick}, email = #{email}, name = #{name}, birthday = #{birthday} WHERE user_id = #{user_id}
    </update>

    <update id="update2" parameterType="map">
        UPDATE profile SET status = #{status}, regions_idx = #{region2} WHERE user_id = #{user_id}
    </update>

    <update id="deleteImg">
        UPDATE profile SET profile = '' WHERE user_id = #{param}
    </update>

    <!-- 비밀번호 변경 -->
    <update id="updatepw">
        UPDATE member SET pw = #{pw} WHERE user_id = #{user_id}
    </update>

    <!-- 크루 이용 가능 여부 체크 -->
    <select id="getPermit" resultType="java.time.LocalDateTime">
        SELECT cleared_date FROM restriction WHERE user_id = #{param} ORDER BY restr_idx DESC LIMIT 1
    </select>

</mapper>