<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.member.dao.MessageDAO">

    <!-- 유저 로그인 -->
    <select id="checkPermitChat" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT member1, member2 FROM message_list WHERE group_idx = #{group_idx}
    </select>

    <select id="roomList" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT group_idx, member1, member2 FROM message_list WHERE member1 = #{user_id} OR member2 = #{user_id}
    </select>

    <select id="message" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT sender_id, msg_cont, sendtime FROM message WHERE group_idx = #{group_idx}
    </select>

    <insert id="sendMessage">
        INSERT INTO message (sender_id, msg_cont, group_idx) VALUES (#{user_id}, #{msg_cont}, #{group_idx})
    </insert>

</mapper>