<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.fitmate.member.dao.MessageDAO">

    <!-- 유저 로그인 -->
    <select id="checkPermitChat" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT member1, member2 FROM message_list WHERE group_idx = #{group_idx}
    </select>

    <select id="roomList" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT m.group_idx, m.member1, m.member2,
            (SELECT nick FROM member WHERE user_id = m.member1) AS 'member1_nick',
            (SELECT nick FROM member WHERE user_id = m.member2) AS 'member2_nick'
            FROM message_list m WHERE member1 = #{user_id} OR member2 = #{user_id}
    </select>

    <select id="message" resultType="com.fitmate.member.dto.MessageDTO">
        SELECT sender_id, msg_cont, sendtime FROM message WHERE group_idx = #{group_idx} LIMIT 30
    </select>

    <insert id="sendMessage">
        INSERT INTO message (sender_id, msg_cont, group_idx) VALUES (#{user_id}, #{msg_cont}, #{group_idx})
    </insert>

    <select id="findMessageGroupCnt" resultType="int">
        SELECT COUNT(group_idx) FROM message_list WHERE (member1 = #{member1} AND member2 = #{member2}) OR (member2 = #{member1} AND member1 = #{member2})
    </select>
    
    <insert id="createMessageGroup" parameterType="com.fitmate.member.dto.MessageDTO"
        useGeneratedKeys="true" keyColumn="group_idx" keyProperty="group_idx">
        INSERT INTO message_list SET member1 = #{member1}, group_name1 = #{member2}, member2 = #{member2}, group_name2 = #{member1}
    </insert>

    <select id="findMessageGroup" resultType="int">
        SELECT group_idx FROM message_list WHERE (member1 = #{member1} AND member2 = #{member2}) OR (member2 = #{member1} AND member1 = #{member2})
    </select>

</mapper>